<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }} {{- T "home" -}} {{ end }} | {{ .Site.Title }}</title>

    {{ partial "head.html" . }}

    {{ block "css" . }} {{ end }}

    {{ range .Site.Params.Advanced.customCSS }}
    <link rel="stylesheet" href="{{ . | relURL }}" />
    {{ end }}
  </head>

  <body class="default">
    {{ partial "nav.html" . }}
    <div class="flip-container">
      <div class="flipper">
        <section class="front">
          <div class="dream-max-width">
            {{ block "main" . }} {{ end }}

            <footer class="ui basic center aligned segment" style="background-color: transparent;">
              {{ if .Site.Params.siteStartYear }}
              <p>© {{ if eq now.Year .Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ .Site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ .Site.Title }}</p>
              {{ else }}
              <p>© {{ now.Year }} {{ .Site.Title }}</p>
              {{ end }}

              <p>Powered by <a href="https://gohugo.io/" target="_blank">Hugo</a> with theme <a href="https://github.com/g1eny0ung/hugo-theme-dream" target="_blank">Dream</a>.</p>

              {{ if .Site.Params.footerBottomText }}
              <p>{{ .Site.Params.footerBottomText | safeHTML }}</p>
              {{ end }}
            </footer>
          </div>
        </section>
        <section class="back">
          <div class="dream-max-width">
            {{ partial "back.html" . }}
          </div>
        </section>
      </div>
    </div>

    <script src="{{ .Site.Params.CDN.jquery }}" crossorigin="anonymous"></script>
    <script src="{{ .Site.Params.CDN.semantic }}" crossorigin="anonymous"></script>

    {{ if .Site.Params.enableSearch }}
    {{ partial "search.html" . }}
    {{ end }}

    {{ range .Site.Params.Advanced.customJSBefore }}
    <script src="{{ . | relURL }}"></script>
    {{ end }}

    {{ partial "footer.html" . }}
    {{ block "js" . }} {{ end }}

    {{ range .Site.Params.Advanced.customJS }}
    <script src="{{ . | relURL }}"></script>
    {{ end }}

    {{ if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </body>
</html>
