<header class="ui basic very padded segment dream-header">
  {{ if isset .Site.Params "avatar" }}
  <div class="ui small circular image">
    <img src="{{ .Site.Params.avatar | relURL }}" alt="avatar" />
  </div>
  {{ end }}

  <div class="content">
    <h1 class="ui medium header">
      {{- if .Site.Params.headerTitle -}}
        {{- .Site.Params.headerTitle -}}
      {{- else -}}
        Set headerTitle in the config to display
      {{- end -}}
      <span class="sub header">
        {{- .Site.Params.motto | safeHTML -}}
      </span>
    </h1>

    <article class="ui horizontal list">
      {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
      <a class="item" href="{{ "posts" | relLangURL }}" style="color: #999999;">
        <i class="archive icon" title="{{ T "archives" }}"></i>&nbsp;归档
      </a>
      {{ end }}
      <a class="item" href="{{ "categories" | relLangURL }}" style="color: #999999;">
        <i class="th list icon" title="{{ T "allCategories" }}"></i>&nbsp;分类
      </a>
      <a class="item" href="{{ "tags" | relLangURL }}" style="color: #999999;">
        <i class="tags icon" title="{{ T "allTags" }}"></i>&nbsp;标签
      </a>
    </article>
    
    {{ if .Site.Params.headerShowType }}

      {{ $info := slice }}
      {{ $first := slice }}
      {{ $rest := slice }}

      {{ range index .Site.Taxonomies .Site.Params.headerShowType }}
        {{ $info = $info | append (dict "title" .Page.Title "link" .Page.RelPermalink) }}
      {{ end }}

      {{ $sum := len $info }}
      {{ $maxCount := .Site.Params.maxCount }}

      {{ if $maxCount }}

        {{ $first = first $maxCount $info }}
        {{ $rest = last (sub $sum $maxCount) $info }}
        
        <div class="tags-with-dropdown">
          <div class="ui accordion">
            <div class="title">
              <div class="ui horizontal list">
                <a class="item dropdown" href="#">
                  <i class="chevron right icon dropdown-icon"></i>
                </a>
              </div>
              <div class="dream-tags">
                {{ range $tag := $first }}
                  {{ $title := index $tag "title" }}
                  {{ $link := index $tag "link" }}
                  <a class="ui label" href="{{ $link }}/index.xml" title="{{ $title }}">
                    {{ $title }}
                  </a>
                {{ end }}
              </div>
            </div>
            <div class="content">
            </div>
          </div>
        </div>
      {{ else }}
        {{ $rest = $info }}
        <div class="dream-tags" {{ if $maxCount }} style="margin-left: 1.5rem;" {{ end }}>
          {{ range $tag := $rest }}
            {{ $title := index $tag "title" }}
            {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}/index.xml" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
        </div>
      {{ end }}

    {{ end }}

  </div>
</header>
