{{ if or .Site.Params.backgroundDark .Site.Params.backgroundImageDark }}
<nav class="ui secondary menu dream-menu dream-nav">
{{ else if .Site.Params.darkNav }}
<nav class="ui secondary inverted menu dream-menu dream-nav">
{{ else }}
<nav class="ui secondary menu dream-menu dream-nav">
{{ end }}
  <a class="item dream-flip-toggle" title="{{ i18n "flip" }}">
    <i class="large link bullseye icon"></i>
    <p style="margin: 0 0 0 3px">关于我</p>
  </a>
  <a class="item" href="{{ .Site.BaseURL }}" title="{{ i18n "home" }}">
    <i class="large link home icon"></i>
  </a>
  {{ if or .Site.Params.backgroundDark .Site.Params.backgroundImageDark }}
  <a class="item" onclick="themeSwitch(event)">
    <i class="large link icon theme-switch"></i>
  </a>
  {{ end }}
  {{ if .Site.Params.enableSearch }}
  <a class="item" title="{{ i18n "search" }}" onclick="toggleSearch(event)">
    <i class="large link search icon"></i>
  </a>
  {{ end }}
</nav>
