<nav class="ui secondary menu dream-menu dream-socials">
  {{ if .Site.Params.rss }}
  <a class="item" href="{{ "index.xml" | relLangURL }}">
    <i class="{{ .IconSize }} rss square icon" title="RSS"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.email }}
  <a class="item" href="mailto:{{ .Site.Params.email }}">
    <i class="{{ .IconSize }} mail icon" title="Email"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.twitter }}
  <a class="item" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
    <i class="{{ .IconSize }} twitter icon" title="Twitter"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.facebook }}
  <a class="item" href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank">
    <i class="{{ .IconSize }} facebook icon" title="Facebook"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.instagram }}
  <a class="item" href="https://instagram.com/{{ .Site.Params.instagram }}" target="_blank">
    <i class="{{ .IconSize }} instagram icon" title="Instagram"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.mastodon }}
  <a class="item" href="{{ .Site.Params.mastodon }}" target="_blank">
    <i class="{{ .IconSize }} icon-mastodon icon" title="Mastodon"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.linkedin }}
  <a class="item" href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
    <i class="{{ .IconSize }} linkedin icon" title="Linkedin"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.github }}
  <a class="item" href="https://github.com/{{ .Site.Params.github }}" target="_blank">
    <i class="{{ .IconSize }} github icon" title="GitHub"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.stackoverflow }}
  <a class="item" href="https://www.stackoverflow.com/users/{{ .Site.Params.stackoverflow }}" target="_blank">
    <i class="{{ .IconSize }} stack overflow icon" title="StackOverflow"></i>
  </a>
  {{ end }}

  {{ if .Site.Params.codepen }}
  <a class="item" href="https://codepen.io/{{ .Site.Params.codepen }}" target="_blank">
    <i class="{{ .IconSize }} codepen icon" title="Codepen"></i>
  </a>
  {{ end }}

  {{ if (fileExists "data/socials.toml") }}
  {{ $iconSize := .IconSize }}
  {{ range .Site.Data.socials.socials }}
    <a class="item" href="{{ .href }}" target="{{ .target }}">
      <i class="{{ $iconSize }} {{ .icon }} icon" title="{{ .title }}"></i>
    </a>
  {{ end }}
  {{ range .Site.Data.socials.ali_socials }}
    <a class="item" href="{{ .href }}" target="{{ .target }}">
      <i class="{{ $iconSize }} icon" title="{{ .title }}">{{ .svg | safeHTML }}</i>
    </a>
  {{ end }}
  {{ end }}
</nav>
